doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title MyDrugs | Admin
  script(src='/scripts/frontendScripts/controller.js' type='module' defer='')
  link(rel='icon' type='image/x-icon' href='./public/favicon.svg')
  link(rel='stylesheet' href='/style.css')
nav.navbar(class='navbar--independent')
  .container
    h2.heading-primary MyDrugs
    ul
      li
        a(href='#') Products
      li
        a(href='#') FAQ
      li
        a(href='#') About us
      li
        a(href='/me')= user.name.split(' ')[0]
section.section__adminInterface
    .container 
        h2.heading-primary Choose Operation
        .operations-wrapper(class='mt-big')
            a(href='/admin/addProduct')
                img(src='/imgs/plus.svg' alt='plus icon')
                span Add Product
            a(href='/admin/editProduct')
                img(src='/imgs/pen.svg' alt='pen icon')
                span Edit Product
            a(href='/admin/deleteProduct')
                img(src='/imgs/trash-simple.svg' alt='trash icon')
                span Delete Product