doctype html
head
  script(src='/scripts/redirectLogin.js' defer='')
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title MyDrugs
  link(rel='icon' type='image/x-icon' href='/imgs/favicon.svg')
  link(rel='stylesheet' href='/style.css')
  .container 
    span( id='errorLink') MyDrugs
    h2(id='errorHeading') Account Confirmed Successfully! You will be redirected to login page shortly!
