doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title MyDrugs 404
  link(rel='icon' type='image/x-icon' href='/imgs/favicon.svg')
  link(rel='stylesheet' href='/style.css')
  .container 
    a(href='/' id='errorLink') MyDrugs
    h2(id='errorHeading') 404 Not Found
      