doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title MyDrugs
  script(src='/scripts/frontendScripts/controller.js' type='module' defer='')
  link(rel='icon' type='image/x-icon' href='./public/favicon.svg')
  link(rel='stylesheet' href='/style.css')
nav.navbar
  .container
    h2.heading-primary MyDrugs
    ul
      li
        a(href='#') Products
      li
        a(href='#') FAQ
      li
        a(href='#') About us
      li
        a(href='/me')= user.name.split(' ')[0]
section.hero__section
  .hero__section__overlay
  .container
    h1.hero__section__heading MyDrugs
    span.hero__section__filler Experience relief. Find the right medication for you
    button.btn.btn--white.mt-big Browse
section.section__products
  .section__products__filter-bar
    button#closeBar
      img(src='/imgs/x.svg')
    h2.heading-primary Filter Products
    form
      h2.heading-primary Category
      .input-wrapper
        input(type='checkbox' value='sedatives' name='sedatives')
        label(for='sedatives') Sedatives
      .input-wrapper
        input(type='checkbox' value='stimulants' name='stimulants')
        label(for='sedatives') Stimulants
      .input-wrapper
        input(type='checkbox' value='hg' name='hg')
        label(for='sedatives') Hallucinogenics
      h2.heading-primary Price
      .input-wrapper
        input(type='checkbox' value='htl' name='htl')
        label(for='htl') High to Low
      .input-wrapper
        input(type='checkbox' value='lth' name='lth')
        label(for='lth') Low to High
      h2.heading-primary Shipping Location
      .input-wrapper
        input(type='checkbox' value='columbia' name='columbia')
        label(for='columbia') Columbia
      .input-wrapper
        input(type='checkbox' value='germany' name='germany')
        label(for='germany') Germany
      .input-wrapper
        input(type='checkbox' value='austria' name='austria')
        label(for='austria') Austria
      h2.heading-primary Rating
      .input-wrapper
        input(type='checkbox' value='highRating' name='highRating')
        label(for='highRating') highest
      .input-wrapper
        input(type='checkbox' value='lowRating' name='lowRating')
        label(for='lowRating') Lowest
      h2.heading-primary Shipping
      .input-wrapper
        input(type='checkbox' value='shipToday' name='shipToday')
        label(for='shipToday') Same Day
      .input-wrapper
        input(type='checkbox' value='shipTomorrow' name='shipTomorrow')
        label(for='shipTomorrow') Next Day
      button#submitFilter Refresh Results
  button#openBar
    img(src='/imgs/list.svg' alt='menu img')
  .container.container--1
    h2.heading-primary Explore Products
    span.section__products__filler Here at MyDrugs, we value quality over quantity
  .container.mt-huge
    ul.container-filters
      li.active All Products
      li Best Sellers
      li Your Latest Purchases
      li Recommended By Others
    .section__products__wrapper
      .section__products__product-wrapper
        img(src='/imgs/painkiller.jpg')
        .section__products__product-wrapper__rating-wrapper
          img(src='/imgs/star-fill.svg')
          span 4.9
        .section__products__product-wrapper__desc
          span.title Pink MDMA
          span.desc
            | Lorem ipsum dolor sit amet! 
            a(href='#') Read More
          span.price 0.0071BTC
          button#buyDrug BUY
      .section__products__product-wrapper
        img(src='/imgs/crack.jpg')
        .section__products__product-wrapper__rating-wrapper
          img(src='/imgs/star-fill.svg')
          span 3.7
        .section__products__product-wrapper__desc
          span.title Crack
          span.desc
            | Lorem ipsum dolor sit amet! 
            a(href='#') Read More
          span.price 0.0211BTC
          button#buyDrug BUY
      .section__products__product-wrapper
        img(src='/imgs/crystal-meth.jpg')
        .section__products__product-wrapper__rating-wrapper
          img(src='/imgs/star-fill.svg')
          span 5.0
        .section__products__product-wrapper__desc
          span.title Cyrstal Meth
          span.desc
            | Lorem ipsum dolor sit amet! 
            a(href='#') Read More
          span.price 0.0091BTC
          button#buyDrug BUY
      .section__products__product-wrapper
        img(src='/imgs/fancy-mdma.jpg')
        .section__products__product-wrapper__rating-wrapper
          img(src='/imgs/star-fill.svg')
          span 2.1
        .section__products__product-wrapper__desc
          span.title Fancy MDMA
          span.desc
            | Lorem ipsum dolor sit amet! 
            a(href='#') Read More
          span.price 0.0021BTC
          button#buyDrug BUY
      .section__products__product-wrapper
        img(src='/imgs/green mdma.jpg')
        .section__products__product-wrapper__rating-wrapper
          img(src='/imgs/star-fill.svg')
          span 3.8
        .section__products__product-wrapper__desc
          span.title Green MDMA
          span.desc
            | Lorem ipsum dolor sit amet! 
            a(href='#') Read More
          span.price 0.0041BTC
          button#buyDrug BUY
      .section__products__product-wrapper
        img(src='/imgs/green-2.jpg')
        .section__products__product-wrapper__rating-wrapper
          img(src='/imgs/star-fill.svg')
          span 4.4
        .section__products__product-wrapper__desc
          span.title Weedy MDMA
          span.desc
            | Lorem ipsum dolor sit amet! 
            a(href='#') Read More
          span.price 0.00721BTC
          button#buyDrug BUY
      .section__products__product-wrapper
        img(src='/imgs/painkiller.jpg')
        .section__products__product-wrapper__rating-wrapper
          img(src='/imgs/star-fill.svg')
          span 4.9
        .section__products__product-wrapper__desc
          span.title Pink MDMA
          span.desc
            | Lorem ipsum dolor sit amet! 
            a(href='#') Read More
          span.price 0.0071BTC
          button#buyDrug BUY
      .section__products__product-wrapper
        img(src='/imgs/green-pills.jpg')
        .section__products__product-wrapper__rating-wrapper
          img(src='/imgs/star-fill.svg')
          span 1.5
        .section__products__product-wrapper__desc
          span.title Green Pill
          span.desc
            | Lorem ipsum dolor sit amet! 
            a(href='#') Read More
          span.price 0.0015BTC
          button#buyDrug BUY
      .section__products__product-wrapper
        img(src='/imgs/morphine.jpg')
        .section__products__product-wrapper__rating-wrapper
          img(src='/imgs/star-fill.svg')
          span 4.9
        .section__products__product-wrapper__desc
          span.title Morphine
          span.desc
            | Lorem ipsum dolor sit amet! 
            a(href='#') Read More
          span.price 0.0071BTC
          button#buyDrug BUY
      .section__products__product-wrapper
        img(src='/imgs/purple-mdma.jpg')
        .section__products__product-wrapper__rating-wrapper
          img(src='/imgs/star-fill.svg')
          span 5.0
        .section__products__product-wrapper__desc
          span.title Purple MDMA
          span.desc
            | Lorem ipsum dolor sit amet! 
            a(href='#') Read More
          span.price 0.0121BTC
          button#buyDrug BUY
      .section__products__product-wrapper
        img(src='/imgs/random-pill.jpg')
        .section__products__product-wrapper__rating-wrapper
          img(src='/imgs/star-fill.svg')
          span 4.9
        .section__products__product-wrapper__desc
          span.title Random Pill
          span.desc
            | Lorem ipsum dolor sit amet! 
            a(href='#') Read More
          span.price 0.0071BTC
          button#buyDrug BUY
      .section__products__product-wrapper
        img(src='/imgs/red-mdma.jpg')
        .section__products__product-wrapper__rating-wrapper
          img(src='/imgs/star-fill.svg')
          span 4.9
        .section__products__product-wrapper__desc
          span.title Red MDMA
          span.desc
            | Lorem ipsum dolor sit amet! 
            a(href='#') Read More
          span.price 0.0071BTC
          button#buyDrug BUY
    .pagination-wrapper
      button.page 1
      button.page 2
      button.page 3
      button.page 4
footer.footer
  .container
    ul
      li
        a(href='#') About us
      li
        a(href='#') Your Profile
      li
        a(href='#') Previous Orders
      li
        a(href='#') Settings
      li
        a(href='#') Wishlist
    h2 MyDrugs
