@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
.container {
  max-width: 120rem;
  margin: 0 auto; }
  @media only screen and (max-width: 75em) {
    .container {
      padding-left: 2rem !important;
      padding-right: 2rem !important; } }

.mb-small {
  margin-bottom: 3rem; }

.mb-big {
  margin-bottom: 5rem; }

.mb-huge {
  margin-bottom: 8rem; }

.mt-small {
  margin-top: 3rem; }

.mt-big {
  margin-top: 5rem; }

.mt-huge {
  margin-top: 8rem; }

.hideBar {
  transform: translateX(-20rem); }

.showBar {
  transform: translateX(20rem); }

.active {
  background-color: #313131;
  color: #ffff; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 50%; } }

body {
  font-size: 1.8rem;
  line-height: 1.5;
  color: #313131;
  font-weight: 400;
  font-family: "Lato", sans-serif; }

.heading-primary {
  font-size: 2.5rem;
  font-weight: 600;
  font-family: "Montserrat", sans-serif; }

.footer {
  background-color: #313131; }
  .footer .container {
    text-align: center;
    padding: 7rem; }
  .footer ul {
    align-items: center;
    justify-content: center;
    display: flex;
    list-style: none;
    gap: 2rem; }
    .footer ul a {
      color: #ffff;
      text-decoration: none;
      font-weight: 300;
      font-size: 2rem; }
  .footer h2 {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    margin-top: 3rem;
    font-size: 9rem;
    font-weight: 400; }

.navbar {
  display: none;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  background-color: #313131;
  color: #ffff;
  height: 7vh;
  align-items: center; }
  .navbar .container {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .navbar .container ul {
      display: flex;
      list-style: none;
      gap: 2rem; }
      @media only screen and (max-width: 37.5em) {
        .navbar .container ul {
          display: none; } }
      .navbar .container ul li a {
        text-decoration: none;
        color: #ffff; }
  .navbar .nav-register-cta {
    background-color: #ffff;
    color: #313131 !important;
    padding: 1rem 2rem;
    border-radius: 100px; }

.hero__section {
  background-image: url("/imgs/bg-img.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media only screen and (max-width: 31.25em) {
    .hero__section h1 {
      font-size: 7rem; }
    .hero__section__filler {
      font-size: 1rem; } }
  .hero__section .container {
    text-align: center;
    position: relative;
    z-index: 1; }
  .hero__section__heading {
    font-family: "Montserrat", sans-serif;
    font-size: 13rem;
    font-weight: 300;
    color: #ffff; }
  .hero__section__filler {
    font-size: 2.5rem;
    color: #d9d9d9;
    font-weight: 300; }
  .hero__section__overlay {
    width: 100%;
    height: 100vh;
    height: 100dvh;
    top: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5); }
  .hero__section .btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer; }

.section__about {
  position: relative;
  padding: 10rem 0; }
  .section__about .heading-primary {
    margin-bottom: 2.3rem; }
    @media only screen and (max-width: 56.25em) {
      .section__about .heading-primary {
        text-align: center; } }
  .section__about .btn {
    font-weight: 400; }
  .section__about .container {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media only screen and (max-width: 56.25em) {
      .section__about .container {
        flex-direction: column; } }
  .section__about__text {
    max-width: 55rem;
    position: relative;
    text-align: justify; }
    @media only screen and (max-width: 56.25em) {
      .section__about__text {
        text-align: center;
        color: #808080; } }
  .section__about__left-wrapper {
    color: #313131;
    position: relative;
    mix-blend-mode: screen;
    z-index: 99; }
    @media only screen and (max-width: 56.25em) {
      .section__about__left-wrapper .heading-primary {
        color: #808080; } }
  @media only screen and (max-width: 56.25em) {
    .section__about__right-wrapper {
      position: absolute;
      top: 0;
      right: 0; } }
  .section__about__right-wrapper img {
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%); }
    @media only screen and (max-width: 56.25em) {
      .section__about__right-wrapper img {
        clip-path: polygon(54% 0, 100% 0%, 100% 100%, 0 100%); } }
    @media only screen and (max-width: 37.5em) {
      .section__about__right-wrapper img {
        clip-path: polygon(29% 0, 100% 0, 100% 100%, 63% 100%); } }
  .section__about__btn-wrapper {
    margin-top: 4rem;
    display: flex;
    gap: 3rem; }
    @media only screen and (max-width: 56.25em) {
      .section__about__btn-wrapper {
        justify-content: center; } }

.section__products {
  min-height: 100vh;
  padding: 20rem 0;
  min-height: 100dvh;
  position: relative; }
  .section__products__filter-bar {
    transition: all 0.2s ease;
    top: 0;
    left: -20rem;
    z-index: 999;
    font-weight: 400;
    height: 100%;
    background-color: #313131;
    width: 20rem;
    position: fixed;
    padding: 2rem;
    color: #ffff; }
    .section__products__filter-bar #closeBar {
      background-color: transparent;
      border: none;
      outline: none;
      position: absolute;
      right: 5px;
      top: 1rem;
      cursor: pointer; }
    .section__products__filter-bar .heading-primary {
      font-size: 1.6rem;
      font-weight: 400;
      margin-bottom: 0.5rem; }
      .section__products__filter-bar .heading-primary:not(:first-of-type) {
        margin-top: 6rem; }
        @media only screen and (max-width: 37.5em) {
          .section__products__filter-bar .heading-primary:not(:first-of-type) {
            margin-top: 4.5rem; } }
      .section__products__filter-bar .heading-primary:first-of-type {
        margin-top: 3rem; }
        @media only screen and (max-width: 37.5em) {
          .section__products__filter-bar .heading-primary:first-of-type {
            margin-top: 2rem; } }
    .section__products__filter-bar #submitFilter {
      margin-top: 2rem;
      border: none;
      outline: none;
      padding: 1rem 2rem;
      background-color: #fff;
      color: #313131;
      cursor: pointer; }
  .section__products__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem; }
  .section__products #openBar {
    background-color: transparent;
    border: none;
    outline: none;
    position: sticky;
    position: -webkit-sticky;
    left: 8rem;
    top: 30rem;
    cursor: pointer; }
    @media only screen and (max-width: 31.25em) {
      .section__products #openBar {
        position: static;
        margin-left: 5rem; } }
  .section__products .container--1 {
    text-align: center; }
  .section__products .container-filters {
    list-style: none;
    font-family: "Montserrat", sans-serif;
    display: flex;
    border-bottom: 1px solid rgba(49, 49, 49, 0.2);
    margin-bottom: 2rem; }
    @media only screen and (max-width: 31.25em) {
      .section__products .container-filters {
        flex-direction: column; } }
    .section__products .container-filters li {
      cursor: pointer;
      padding: 2rem; }
  .section__products__product-wrapper {
    position: relative; }
    .section__products__product-wrapper img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .section__products__product-wrapper__rating-wrapper {
      width: 6.5rem;
      height: 2.5rem;
      border-radius: 100px;
      background-color: #313131;
      color: #ffff;
      gap: 0.3rem;
      display: flex;
      align-items: center;
      padding: 1rem;
      position: absolute;
      top: 1rem;
      left: 1rem; }
      .section__products__product-wrapper__rating-wrapper img {
        width: 1.5rem;
        height: 1.5rem; }
    .section__products__product-wrapper__desc {
      width: 100%;
      background-color: #313131;
      position: absolute;
      bottom: 0;
      left: 0;
      color: #fff;
      padding: 1rem;
      row-gap: 1rem;
      display: grid;
      grid-template-columns: 1fr max-content;
      grid-template-rows: 2rem 1fr; }
    .section__products__product-wrapper .desc {
      grid-column: 1 / span 1;
      grid-row: 2 / span 1;
      font-size: 1.5rem;
      font-weight: 400; }
      .section__products__product-wrapper .desc a {
        color: #fff; }
    .section__products__product-wrapper #buyDrug {
      border: none;
      outline: none;
      background-color: #fff;
      border-radius: 100px;
      align-self: center;
      justify-self: end;
      padding: 1rem 2rem;
      cursor: pointer; }
    .section__products__product-wrapper .price {
      font-size: 1.5rem; }
    .section__products__product-wrapper .title {
      font-size: 2rem;
      font-weight: 400;
      letter-spacing: 1px; }

.pagination-wrapper {
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  align-self: center;
  display: flex;
  gap: 1.5rem; }
  .pagination-wrapper button {
    padding: 1.5rem 2rem;
    cursor: pointer;
    font-size: 1.8rem;
    background-color: #313131;
    border: none;
    outline: none;
    color: #fff;
    font-family: "Montserrat", sans-serif; }

.btn {
  padding: 1.2rem 2.9rem;
  border-radius: 100px;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  font-weight: 600;
  outline: none;
  color: #313131;
  font-size: 1.8rem;
  cursor: pointer;
  border: none; }
  .btn--white {
    background-color: white;
    border: 1px solid #313131; }
  .btn--black {
    background-color: #313131;
    color: #ffff; }

.register-wrapper {
  height: 100vh;
  padding: 2rem; }
  .register-wrapper h1 {
    font-size: 10rem;
    font-weight: 400;
    font-family: "Montserrat", sans-serif; }
    @media only screen and (max-width: 37.5em) {
      .register-wrapper h1 {
        font-size: 6rem;
        text-align: center; } }
  .register-wrapper .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .register-wrapper .container form {
      font-weight: 400;
      font-size: 1.5rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start; }
      .register-wrapper .container form div {
        display: flex;
        flex-direction: column; }
        .register-wrapper .container form div:not(:last-of-type) {
          margin-bottom: 2rem; }
        .register-wrapper .container form div input {
          width: 35rem;
          outline: none;
          border: none;
          border-bottom: 1px solid #313131;
          padding: 1rem 0;
          transition: all 0.3s ease;
          background-color: transparent; }
          .register-wrapper .container form div input:focus {
            padding: 1rem; }
        .register-wrapper .container form div label {
          font-weight: 600;
          margin-bottom: 1rem; }
      .register-wrapper .container form a {
        font-size: 1.5rem;
        color: #313131; }
      .register-wrapper .container form .btn {
        font-size: 1.5rem;
        font-weight: 400; }
      .register-wrapper .container form .operations-wrapper {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        align-self: stretch; }
