*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;

  @include responsive(tab-land) {
    font-size: 56.25%;
  }

  @include responsive(mobile) {
    font-size: 50%;
  }
}
