.section__editProduct {
  padding: 10rem 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    @include responsive-custom(58.75em) {
      flex-direction: column;
    }
    gap: 5rem;
    img {
      width: 50rem;
      max-width: 50rem;
      align-self: flex-start;
      @include responsive-custom(58.75em) {
        align-self: center;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      div {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
      }

      input {
        border: none;
        outline: none;
        border-bottom: 1px solid #313131;
        transition: all 0.3s ease;

        &:focus {
          padding: 1rem;
        }
      }
      #productImage {
        display: none;
      }
      textarea {
        resize: none;
        border: none;
        outline: none;
        border-bottom: 1px solid #313131;
        transition: all 0.3s ease;

        padding: 0.5rem;

        &:focus {
          padding: 1rem;
        }
      }

      select {
        border: 1px solid #313131;
        padding: 0.5rem;
        border-radius: 5px;
        outline: none;
      }
    }
    button {
      align-self: flex-start;
    }
  }
}
