<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MyDrugs</title>
    <link rel="icon" type="image/x-icon" href="../public/favicon.svg" />
    <link rel="stylesheet" href="../public/style.css" />
  </head>
  <body>
    <section class="hero__section">
      <div class="hero__section__overlay"></div>
      <div class="container">
        <h1 class="hero__section__heading">MyDrugs</h1>
        <span class="hero__section__filler"
          >Experience relief. Find the right medication for you</span
        >
        <button class="btn btn--white mt-big">Browse</button>
      </div>
    </section>

    <section class="section__about">
      <div class="container">
        <div class="section__about__left-wrapper">
          <h2 class="heading-primary">Welcome to MyDrugs</h2>
          <p class="section__about__text mb-huge">
            We are a team of passionate professionals dedicated to improving
            people's lives by providing access to high-quality medications and
            exceptional customer service. Our mission is to make it easy for you
            to manage your health and improve your quality of life.
          </p>
          <p class="section__about__text">
            We believe that everyone should have access to affordable and
            reliable healthcare, and we strive to make this a reality through
            our online pharmacy. Our team of licensed pharmacists is committed
            to ensuring that you receive the best possible care, with
            personalized consultations and free delivery.
          </p>

          <div class="section__about__btn-wrapper">
            <button class="btn btn--white">Browse</button>
            <button class="btn btn--black">Create profile</button>
          </div>
        </div>
        <div class="section__about__right-wrapper">
          <img src="../public/about-img.jpg" alt="about us image" />
        </div>
      </div>
    </section>

    <section class="section__products">
      <div class="section__products__filter-bar">
        <button id="closeBar"><img src="../public/x.svg" /></button>
        <h2 class="heading-primary">Filter Products</h2>
      </div>
    </section>
  </body>
</html>
