.container {
  max-width: 120rem;
  margin: 0 auto;
}

.mb-small {
  margin-bottom: 3rem;
}

.mb-big {
  margin-bottom: 5rem;
}

.mb-huge {
  margin-bottom: 8rem;
}

.mt-small {
  margin-top: 3rem;
}

.mt-big {
  margin-top: 5rem;
}

.mt-huge {
  margin-top: 8rem;
}
