.container {
  max-width: 120rem;
  margin: 0 auto;

  @include responsive("tab-land") {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }
}

.mb-small {
  margin-bottom: 3rem;
}

.mb-big {
  margin-bottom: 5rem;
}

.mb-huge {
  margin-bottom: 8rem;
}

.mt-small {
  margin-top: 3rem;
}

.mt-big {
  margin-top: 5rem;
}

.mt-huge {
  margin-top: 8rem;
}

.hideBar {
  transform: translateX(-20rem);
}

.showBar {
  transform: translateX(20rem);
}

.active {
  background-color: #313131;
  color: #ffff;
}
